@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url(Variables.css);
@import url(Chats.css);
@import url(Estados.css);
@import url(Llamadas.css);
@import url(Camara.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    font-weight: 500;
}

body{
    background-color: var(--fondo-pagina);
}

.interfaz{
    width: 450px;
    height: 780px;
    margin: 10px auto;
    background-color: var(--blanco);
    border-radius: 30px;
    border: 5px solid var(--blanco);
    position: relative;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
}

/* ENCABEZADO */

.encabezado{
    width: 100%;
    height: auto;
    background-color: var(--fondo-encabezado);
    border-radius: 30px 30px 0 0;
    padding: 15px 15px;
    border-top: 18px solid var(--borde-encabezado);
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.encabezado__titulo{
    color: var(--blanco);
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
}
.encabezado__menu{
    display: flex;
    gap: 12px;
}
.menu__item{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 26px;
    color: var(--blanco);
    cursor: pointer;
}

/* NAVEGACIÓN */

.nav{
    background-color: var(--fondo-encabezado);
    display: flex;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 1px var(--color-sombra) ;
    margin-bottom: 10px;
}
.nav__item{
    font-size: 16px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-items-texto);
    padding-bottom: 2px;
    padding: 10px;
    align-items: center;
}
.nav__notificacion{
    width: 16px;
    height: 16px;
    display: flex;
    background-color: var(--color-items-texto);
    color: var(--fondo-encabezado);
    font-size: 11px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.nav__notificacion-estado{
    width: 10px;
    height: 10px;
    background-color: var(--color-items-texto);
    border-radius: 100%;
}

.nav__item:hover{
    color: var(--gris-claro);
}
.nav__item:hover > span{
    background-color: var(--gris-claro);
}

input[type="radio"] {
    display: none;
}

/* CONTENIDO */

.contenido{
    display: flex;
    position: relative;
    width: 1350px;
    height: 640px;
    transition: 0.2s;
}

.caja{
    width: 450px;
    height: 100%;
    padding-right:  5px;
    overflow-y: scroll;
}

input[id="Chats"]:checked~ .contenido{
    left: calc(450px * 0);
}
input[id="Estados"]:checked~ .contenido{
    left: calc(450px * -1);
}
input[id="Llamadas"]:checked~ .contenido{
    left: calc(450px * -2);
}


.principal input:nth-child(1):checked~.nav .nav__item:nth-child(1),
.principal input:nth-child(2):checked~.nav .nav__item:nth-child(2),
.principal input:nth-child(3):checked~.nav .nav__item:nth-child(3) {
    color: var(--blanco);
    box-shadow: inset 0px -5px 0px var(--blanco);
    transition: 0.2s;
}
.principal input:nth-child(1):checked~.nav .nav__item:nth-child(1) span,
.principal input:nth-child(2):checked~.nav .nav__item:nth-child(2) span,
.principal input:nth-child(3):checked~.nav .nav__item:nth-child(3) span{
    background-color: var(--blanco);
}


::-webkit-scrollbar{
    -webkit-appearance:none;
}
::-webkit-scrollbar:vertical{
    width:1px;
}

.caja__burbuja{
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    box-shadow: 0 5px 10px var(--color-sombra);
    cursor: pointer;
    background-color: var(--verde-distintivo);
    color: var(--blanco);
    transition: transform 0.3s;
}
.caja__burbuja:hover{
    transform: scale(1.1);
}

.bloque{
    padding: 10px;
    display: flex;
    max-height: 85px;
}
.bloque__foto{
    display: block;
    width: 15%;
    border-radius: 100%;
    margin-right: 15px;
}



.detalles__titulo{
    font-size: 19px;
}
.detalles__tiempo{
    color: var(--gris-detalles);
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}