@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url(Variables.css);
@import url(Chats.css);
@import url(Estados.css);
@import url(Llamadas.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    font-weight: 500;
}

body{
    background-color: var(--fondo-pagina);
}

.interfaz{
    height: 90vh;
    max-width: 450px;
    margin: 10px auto;
    background-color: var(--blanco);
    border-radius: 30px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.encabezado{
    width: 100%;
    height: auto;
    background-color: var(--fondo-encabezado);
    border-radius: 30px 30px 0 0;
    padding: 15px 15px 0px;
    border-top: 18px solid var(--borde-encabezado);
    box-shadow: 0 3px 1.5px var(--color-sombra) ;
    margin-bottom: 10px;
}


.encabezado__principal{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.encabezado__titulo{
    color: var(--blanco);
    font-size: 28px;
}
.encabezado__menu{
    display: flex;
}
.menu__item{
    display: flex;
    align-items: center;
    margin-left:8px;
    text-decoration: none;
    font-size: 24px;
    color: var(--blanco);
    cursor: pointer;
}


.encabezado__nav{
    display: flex;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    align-items: center;
}
.nav__item{
    font-size: 16px;
    text-decoration: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-items-texto);
    align-items: center;
    padding-bottom: 2px;
}
.nav__camera{
    font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
    color: var(--color-items-texto);
}
.nav__notificacion{
    width: 16px;
    height: 16px;
    display: flex;
    background-color: var(--color-items-texto);
    color: var(--fondo-encabezado);
    font-size: 11px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.nav__notificacion-estado{
    width: 10px;
    height: 10px;
    background-color: var(--color-items-texto);
    border-radius: 100%;
    margin: auto 0;
}


.nav__item:hover{
    color: var(--blanco);
    box-shadow: inset 0px -5px 0px var(--blanco);
}
.nav__camera:hover{
    color: var(--blanco);
}
.nav__item:hover .nav__notificacion {
    background-color: var(--blanco);
}


.caja{
    display: none;
    overflow-y: scroll;
}
.caja:target{
    display: block;
}


.caja::-webkit-scrollbar {
    -webkit-appearance: none;
}
.caja::-webkit-scrollbar:vertical{
    width:1px;
}
.caja::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.bloque{
    padding: 10px;
    display: flex;
    max-height: 85px;
}
.bloque__foto{
    display: block;
    width: 15%;
    border-radius: 100%;
    margin-right: 15px;
}


.caja__burbuja{
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    bottom: 40px;
    right: 30px;
    z-index: 1;
    box-shadow: 0 2px 8px var(--color-sombra);
    cursor: pointer;
    background-color: var(--verde-distintivo);
    color: var(--blanco);
}


.detalles__titulo{
    font-size: 19px;
}
.detalles__tiempo{
    color: var(--gris-detalles);
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}