:root{
    --blanco: #fff;
    --fondo-encabezado: #075e54;
    --borde-encabezado: #054d44;
    --verde-distintivo:#00cd40;
    --fondo-pagina: #128b7e;
    --azul-visto: deepskyblue;
    --gris-detalles: #727272;
    --color-items-texto: #8ab3af;
    --color-sombra: #a5a5a5;
    --gris-claro: #e0e0e0;
}